<a href="https://colab.research.google.com/github/jossesg/PROGCOM-A/blob/main/clase_3_estructura_de_repeticion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

estructura de repeticion

permite repetir una o mas acciones de acuerdo con una condicion (mientras se cumpla la condicion)

##estructura para - for

-cuando se sabe cuantas veces se repite una accion (eso es un para)

-esta conformado por una condicion inicial (CI) una condicion final (CF) y pasos (frecuencia de repeticion)

-esta estructura no se detendra hasta alcanzar CF-1

estructura general del for





```
for (variable) in range(CI,CF+1,paso):
  se repite (CF+1-CI)/paso veces una accion

```

estructura resumida del for




```
for (variable) in range (cantidad):
  se repite cantidad de veces una accion
```

estructura for como iteracion

1- el para (for) itera tantas veces, como elementos tenga la lista(si tiene 5 elementos se repite 5 veces)

2- la variable toma el valor de cada elemento de la lista de iteracion

3- len (cuenta la cantidad de elementos)

```
lista=[1,2,3,4,5]
for (variable) in lista:
  se repite len(lista)

```

In [ ]:
#hacer la tabla multiplicar de un numero n
n=int(input("ingrese un numero"))

ingrese un numero1

In [ ]:
print(f"tabla del {n}")
for holitas in range(1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
for n in range(1,11):
  print(f"(n/tabla del {n})")
  for holitas in range(1,11):
    print(f"{n} x {holitas} = {n * holitas}")

(n/tabla del 1)
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
(n/tabla del 2)
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
(n/tabla del 3)
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
(n/tabla del 4)
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
(n/tabla del 5)
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
(n/tabla del 6)
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
(n/tabla del 7)
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
(n/tabla del 8)
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
(n/tabla del 9)
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
(n/tabla del 10)
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
numero2=list(range(1,11))
numeros2

NameError: name 'numeros2' is not defined

##listas

1.es un tipo de datos

2. todos los elementos de una lista **deben** separarse por comas

3.forma canonica para declarar una lista



```
(variable) = []

```

ejemplo:

flores = ["amapola","tulipan","lengua de suegra",dahlia,"rosa"]

In [ ]:
dahlia=3 #variable de tipo numerica, int
rosa="cinco" #variable de tipo alfanumerico,str
flores=["amapola","tulipan","lengua de suegra",dahlia,rosa]

4. manual



```
lista2=[dato1,dato2,datos3...datoN]

```

5.siempre son finitas
6.son indexadas



```
lista2=[dato1,dato2,datos3...datoN]
```

dato1 esta en el index 0
dato 2 esta ubicado en el index 1

7.estructuras **para** para la creacion de listas

#ejemplo: crear una lista de 5 elementos

```
#ejemplo: crear una lista de 5 elementos
lista=[] #para que el programa sepa que es una lista
for loquesea in range(5):
lista=input("ingrese el nombre de una flor")

```

In [4]:
lista=[]
for loquesea in range(5):
    lista=input("ingrese el nombre de una flor")

ingrese el nombre de una florflor
ingrese el nombre de una flortulipan
ingrese el nombre de una florlengua de suegra
ingrese el nombre de una flormargarita
ingrese el nombre de una florsiete cueros

In [37]:
lista=[]
for loquesea in range (5):
    lista.append(loquesea)

In [38]:
lista

[0, 1, 2, 3, 4]

In [6]:
loquesea

4

10 ejercicios utilizando para y lista

In [41]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
numeros = list(range(1,11))
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
suma = 0
for i in range(1,101):
  suma +=i
print("suma",suma)

suma 5050

In [56]:
suma = sum(list(range(1,101)))
print("suma",suma)

suma 5050

In [43]:
for i in range(1,31):
  if i % 3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [57]:
multiplos = [i for i in range(1,31) if i % 3 == 0]
print(multiplos)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [59]:
num = int(input("ingrese un numero"))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

ingrese un numero6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [64]:
n = int(input("ingrese un numero"))
tabla = [f"{n} x {i} = {n*1}" for i in range(1,11)]
print("\n".join(tabla))

ingrese un numero8
8 x 1 = 8
8 x 2 = 8
8 x 3 = 8
8 x 4 = 8
8 x 5 = 8
8 x 6 = 8
8 x 7 = 8
8 x 8 = 8
8 x 9 = 8
8 x 10 = 8

In [51]:
suma = 0
for i in range(5):
  n = float(input(f"ingrese un numero{i+1}"))
  suma +=n
promedio = suma / 5
print("el promedio es", promedio)

ingrese un numero12
ingrese un numero25
ingrese un numero36
ingrese un numero44
ingrese un numero54
el promedio es 4.2

In [65]:
numeros =[float(input(f"ingrese un numero {i+1}:"))for i in range(5)]
promedio = sum(numeros) / len(numeros)
print("promedio", promedio)

ingrese un numero 1:2
ingrese un numero 2:5
ingrese un numero 3:8
ingrese un numero 4:9
ingrese un numero 5:4
promedio 5.6

In [67]:
n = int(input("ingresa un numero"))
contador = 0
for i in range(1, n+1):
    if i % 2 == 0:
        contador += 1
print("cantidad de pares", contador)

ingresa un numero5
cantidad de pares 2

In [68]:
n = int(input("ingresa un numero"))
pares = [i for i in range(1, n+1)if i % 2 == 0]
print("cantidad de pares", len (pares))

ingresa un numero5
cantidad de pares 2

In [69]:
n = int(input("cuantos numeros de fibonacci"))
a, b = 0, 1
for _ in range(n):
  print(a)
  a,b = b, a + b

cuantos numeros de fibonacci6
0
1
1
2
3
5